* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}


header img {
    margin-top: 50px;
    margin-bottom: 10%;
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
}

header {
    background-color: cadetblue;
    margin: auto;
    max-width: 1650px;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding-bottom: 80px;
}

header a:hover {
    color: darksalmon;
}

header li {
    border: 3px solid yellow;
}



h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #4e4e4e;
}

article {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 6px black;
}

section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: white;
}

section h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #4e4e4e;
    text-align: center;
}

section .content {
    display: flex;
    align-items: center;
    gap: 20px;
}

section:nth-child(odd) .content {
    flex-direction: row;
}

section:nth-child(even) .content {
    flex-direction: row-reverse;
}

section img {
    width: 300px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}

section p {
    font-size: 1rem;
    color: #002900;
    text-align: justify;
}



footer {
    max-width: 1650px;
    margin: auto;
    margin-top: 2em;
}

footer .ft_cols {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 4em;
    text-align: center;
}

footer .ft_cols h2 {
    margin-bottom: 1em;
}

footer .ft_cols img {
    width: 25px;
}

footer .ft_logo {
    display: flex;
    justify-content: space-evenly;
}

footer ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    border-top: 1px solid gray;
    padding-top: 1em;
    align-items: center;
}

footer .ft_block {
    width: 30%;
}